<!DOCTYPE html>
<html>
<head>
    <title><%-title%></title>

    <script type="text/javascript" charset="utf-8">
        window.__INITIAL_STATE__ = <%-stores%>;
    </script>

</head>
<body>
<div id="app">
    <%-data%>
</div>
<script type="text/javascript" src="/build/bundle.js"></script>
</body>
</html>