@import "../vars/vars";

.project {
  padding-top: 100px;
  &_head {
    display: flex;
    align-items: center;
  }
  &_logo { margin-right: 8px; }
  &_actions {
    display: flex;
    margin-left: auto;
    &-edit svg { fill: $palette-brand; }
    &-delete svg { fill: $x-palette-lightred_2; }
    button {
      margin-left: 30px;
      background: transparent;
      color: $x-palette-gray_1;
      svg { margin-right: 7px; }
    }
  }
  &_top {
    display: flex;
    padding: 13px 0 30px 36px;
    border-bottom: 1px solid rgba($palette-white, .05);
    font: 13px/1.54 $font-regular;
    letter-spacing: -0.2px;
    &_label {
      color: $x-palette-gray_1;
    }
    & > div {
      margin-right: 98px;
    }
  }
  &_settings {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  &_tabs {
    &_item {
      height: 36px;
      margin-right: 26px;
      padding: 0;
      border: 0;
      border-bottom: 2px solid transparent;
      outline: none;
      background: none;
      font: 13px/38px $font-regular;
      color: $x-palette-gray_1;
      cursor: pointer;
      transition: color .3s ease-in-out;
      &-active {
        border-bottom: 2px solid $palette-brand;
        font: 24px $font-bold;
        color: $palette-white;
        letter-spacing: -0.5px;
        cursor: default;
      }
    }
    &_empty {
      padding-top: 57px;
      text-align: center;
      font-size: 13px;
      line-height: 21px;
      color: $x-palette-gray_1;
      span { color: $x-palette-gray; }
      p:not(:last-child) { margin-bottom: 27px; }
      a {
        display: inline-block;
        margin: 0 15px;
        text-decoration: none;
        color: $palette-brand;
      }
    }
  }
  &_add-email {
    margin-left: auto;
    background: transparent;
    color: $x-palette-gray_1;
    svg {
      margin-right: 8.5px;
      fill: $palette-brand;
    }
  }
  &_country {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    img { margin-right: 4.5px; }
  }
  &_accesibility {
    text-align: center;
  }
  &_user-delete {
    text-align: center;
    svg { fill: $x-palette-lightred_2; }
  }
}