@import "../vars/vars";

.projects {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -6px -6px 0;
  &-empty {
    margin: auto;
    padding: 30px;
    border-radius: 4px;
    background-color: $block-cell-dark;
  }
  &_item {
    position: relative;
    flex-grow: 1;
    min-width: 486px;
    height: 384px;
    margin: 6px;
    padding: 40px 40px 0;
    border-radius: 4px;
    background-color: $block-cell-dark;
    &_edit {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 0;
      font: 13px $font-regular;
      border: none;
      background: transparent;
      color: $x-palette-gray_1;
      cursor: pointer;
      letter-spacing: -0.2px;
    }
    &_logo { margin-bottom: 23px; }
    &_title {
      margin-bottom: 13px;
      font: 24px $font-bold;
    }
    &_description {
      min-height: 40px;
      font: 13px/1.84 $font-regular;
      color: $x-palette-gray_1;
    }
    &_info {
      display: flex;
      margin-top: 35px;
      &-edit { margin-top: 4px; }
    }
    &_private {
      flex: 0 0 147px;
      &_label {
        margin-bottom: 4px;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: -0.2px;
        color: $palette-white;
      }
      &_text { color: $x-palette-gray_1; }
    }
    &_more {
      display: flex;
      position: absolute;
      left: 40px;
      right: 40px;
      bottom: 27px;
      &-edit { justify-content: flex-end; }
      a {
        display: flex;
        align-items: center;
        font: 13px $font-regular;
        color: $palette-brand;
        text-decoration: none;
      }
      svg {
        margin-right: 8.5px;
        fill: $palette-brand;
      }
    }
    &_textarea {
      width: 100%;
      height: 138px;

      textarea {
        color: $palette-white;
        background: $x-palette-dark;
      }
    }
    &_cancel {
      width: 82px;
      height: 32px;
      color: $x-palette-gray_1;
      background: transparent;
    }
    &_save {
      width: 82px;
      height: 32px;
      background: $palette-brand;
      &:hover {color: $palette-white; }
    }
  }
}

.create-project {
  margin: 0 auto;
  width: 384px;
  text-align: center;
  &_form {
    .input {
      background: $block-cell-dark;
      &_input { color: $palette-white; }
    }
    .select { color: $palette-white; }
    .form_row {
      margin: 0 0 8px 0;
      text-align: left;
    }
  }
  &_textarea {
    width: 100%;
    height: 138px;

    textarea {
      color: $palette-white;
      background: $block-cell-dark;
    }
  }
  &_submit {
    margin: 24px auto;
    width: 224px;
    color: $palette-white;
    background-color: $palette-brand;
    &:hover { color: $palette-white; }
  }
}