@import
  'libs/reset',
  'libs/fonts',
  'vars/vars',
  'vars/theme-light',
  'vars/theme-dark',
  'components/modal',
  'components/table';

html {
  min-width: 1024px;
  margin: 0 auto;
  font: 13px/15px 'apercuregular', Arial, sans-serif;
}

body {
  position: relative;
}

html,
body,
.root,
.content{
  height: 100%;
  min-height: 100%;
}