@import "../vars/vars";

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  color: inherit;
  outline: none;
  cursor: pointer;
  transition: color .3s ease-in-out;
  letter-spacing: -0.2px;

  svg { fill: $palette-brand }

  span {
    padding-left: 8.5px;
  }

  &:hover {
    color: $palette-brand;
  }

  &[disabled] {
    user-pointer: none;
    cursor: default;
  }
  &.is-transparent {
    background: transparent;
  }
}