@import "../vars/vars";

.items-block-content {
  margin: 144px -6px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .item-block {
    margin: 6px;
    min-width: 486px;
    height: 384px;
    border-radius: 4px;
    background-color: $block-cell-dark;
    flex-grow: 1;
    position: relative;
    .content {
      padding: 0 40px;
    }
    .link-edit {
      position: absolute;
      top: 20px;
      right: 20px;
      font: 13px $font-regular;
      color: $x-palette-gray_1;
      cursor: pointer;
      letter-spacing: -0.2px;
    }
    .top-info {
      padding: 40px 0 0 0;
      .img {
        margin: 0 0 23px 0;
        width: 60px;
        height: 60px;
        display: flex;
        img {
          margin: auto;
          max-width: 60px;
          max-height: 60px;
        }
      }
      .name {
        margin: 0 0 13px 0;
        font: 24px $font-bold;
      }
      .description {
        font: 13px $font-regular;
        color: $x-palette-gray_1;
        line-height: 1.84;
      }
    }
    .block-item-info {
      padding: 35px 0 0 0;
      display: flex;
      .item-info {
        min-width: 147px;
        .name-item-info {
          margin: 0 0 5px 0;
          font: 13px $font-regular;
          letter-spacing: -0.2px;
        }
        .description-item-info {
          font: 13px $font-regular;
          color: $x-palette-gray_1;
          line-height: 1.54;
        }
      }
    }
  }
  .center-item-block {
    margin: auto;
    padding: 30px;
    border-radius: 4px;
    background-color: $block-cell-dark;
  }
}